<li class="msg">
	<time title="{{formatTime timestamp 'MMMM Do YYYY, hh:mm:ss'}}" datetime="{{formatTime timestamp ''}}">{{formatTime timestamp 'hh:mm'}}</time>
	<span class="from" data-from-id="{{from}}">{{fromName}}</span>
	<div class="content">{{ data }}</div>
</li>