<li class="{{#if isSelf}}self{{/if}}">
	<span class="name" title="{{id}}">{{name}}</span>
	<span class="role">({{role}})</span>
	<span class="status">{{status}}</span>
	<span class="recording-status">{{ recordingStatus }}</span>
</li>